<%- include('../../partials/header.ejs') %>
    <div class="container-fluid my-container mt-2 mb-5">
        <div class="row">
            <div class="col-md-2">
                <%- include('../../partials/sidenavbar.ejs') %>
            </div>
            <div class="col-md-10">
                <div class="container">
                    <div class="card card-body col-md-8 offset-md-2">
                        <h1 class="display-5 text-center font-weight-bold">Chnage Password</h1>
                        <hr>
                        <form action="/auth/change-password" class="form-group" method="POST">
                            <div class="mb-2">
                                <label for="oldPassword" class="form-label mb-0">Old Password:</label>
                                <input type="password" name="oldPassword" class="form-control <%= error.oldPassword ? 'is-invalid' : '' %>" 
                                    id="oldPassword" 
                                    placeholder="Type your old password" required>
                                <div class="invalid-feedback">
                                    <%= error.oldPassword %>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label for="newPassword" class="form-label mb-0">New Password:</label>
                                <input type="password" name="newPassword" class="form-control <%= error.newPassword ? 'is-invalid' : '' %>" 
                                id="newPassword" 
                                    placeholder="A new password" required>
                                <div class="invalid-feedback">
                                    <%= error.newPassword %>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label for="confirmPassword" class="form-label mb-0">Confirm Password:</label>
                                <input type="password" name="confirmPassword" class="form-control <%= error.confirmPassword ? 'is-invalid' : '' %>" 
                                    id="confirmPassword" 
                                    placeholder="Retype the password" required>
                                <div class="invalid-feedback">
                                    <%= error.confirmPassword %>
                                </div>
                            </div>
                            <button type="submit"class="btn btn-light"><i class="fas fa-save"></i> Save Chnages</button>
                            <a href="/auth/change-password" class="btn btn-light"><i class="fas fa-broom"></i> Clear Form</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../partials/footer.ejs') %>
</body>
</html>