<%- include('../../partials/header.ejs') %>

<div class="container-fluid mt-2 mb-5">
    <div class="row">
        <div class="col-md-2">
            <%- include('../../partials/sidenavbar.ejs') %> 
        </div>
        <div class="col-md-8 offset-md-1">
            <div class="card card-body">
                <div class="media">
                    <img class="align-self-start mr-3 rounded-circle" 
                    style="width: 250px; 
                        border: 1px solid #fff;
                        box-shadow: 0px 0px 5px #888888;" src="<%= profile.profilePhoto %>" alt="Profile Image">
                    <div class="media-body mt-2 ml-2">
                        <h2 class="font-weight-bold mb-0" style="font-size: 40px;"><%= profile.firstName + ' ' + profile.lastName%></h2>
                        <h6 class="text-muted mt-0">@<%= profile.user.username%></h6>
                        <h6 class="font-weight-bold"><%= profile.title%></h6>
                        <p class="text-justify mt-3" style="min-height: 60px;"><%= profile.bio%></p>
                        <hr>
                        <div class="d-flex">
                            <% if (profile.links.website) { %> 
                                <a href="<%= profile.links.website %>" target="_blank" class="mx-2" style="color: #222;">
                                    <i class="fas fa-globe-asia" style="font-size: 32px;"></i>
                                </a>
                            <% } else { %>
                                <span class="mx-2" style="color: #b6b6b6;">
                                    <i class="fas fa-globe-asia" style="font-size: 32px;"></i>
                                </span>
                            <% } %>

                            <% if (profile.links.facebook) { %> 
                                <a href="<%= profile.links.facebook %>" target="_blank" 
                                    class="mx-2" style="color: #222;">
                                    <i class="fab fa-facebook-f" style="font-size: 32px;"></i>
                                </a>
                            <% } else { %>
                                <span class="mx-2" style="color: #b6b6b6;">
                                    <i class="fab fa-facebook-f" style="font-size: 32px;"></i>
                                </span>
                            <% } %>

                            <% if (profile.links.twitter) { %> 
                                <a href="<%= profile.links.twitter %>" target="_blank" 
                                    class="mx-2" style="color: #222;">
                                    <i class="fab fa-twitter" style="font-size: 32px;"></i>
                                </a>
                            <% } else { %>
                                <span class="mx-2" style="color: #b6b6b6;">
                                    <i class="fab fa-twitter" style="font-size: 32px;"></i>
                                </span>
                            <% } %>

                            <% if (profile.links.github) { %> 
                                <a href="<%= profile.links.github %>" target="_blank" 
                                    class="mx-2" style="color: #222;">
                                    <i class="fab fa-github" style="font-size: 32px;"></i>
                                </a>
                            <% } else { %>
                                <span class="mx-2" style="color: #b6b6b6;">
                                    <i class="fab fa-github" style="font-size: 32px;"></i>
                                </span>
                            <% } %>

                            <% if (profile.links.linkedin) { %> 
                                <a href="<%= profile.links.linkedin %>" target="_blank" 
                                    class="mx-2" style="color: #222;">
                                    <i class="fab fa-linkedin-in" style="font-size: 32px;"></i>
                                </a>
                            <% } else { %>
                                <span class="mx-2" style="color: #b6b6b6;">
                                    <i class="fab fa-linkedin-in" style="font-size: 32px;"></i>
                                </span>
                            <% } %>

                            <!-- <button id="star-btn" class="btn btn-outline-dark btn-sm ml-auto" style="border: 0;">
                                <i class="far fa-star"></i> Star
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card-group">
                <div class="card card-body text-center mx-2">
                    <h5 class="card-title display-3 font-weight-bold" style="color: rgb(38, 66, 109);">
                        <%= profile.posts.length %>
                    </h5>
                    <p class="card-text font-weight-bold" style="font-size: 24px;">Writes</p>
                </div>
                <div class="card card-body text-center mx-2">
                    <h5 class="card-title display-3 font-weight-bold" style="color: rgb(38, 66, 109);">
                        <%= 15 %>
                    </h5>
                    <p class="card-text font-weight-bold" style="font-size: 24px;">Stars</p>
                </div>
                <div class="card card-body text-center mx-2">
                    <h5 class="card-title display-3 font-weight-bold" style="color: rgb(38, 66, 109);">
                        <%= 7 %>
                    </h5>
                    <p class="card-text font-weight-bold" style="font-size: 24px;">Reviews</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>
<script src="/scripts/bookmarks.js"></script>
</body>
</html>