<%- include('../../partials/header.ejs') %> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <%- include('../../partials/sidenavbar.ejs') %> 
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card mt-2 mb-5">
                        <div class="text-center bg-dark text-white card-header">
                            <h4 class="mt-1 mb-0 font-weight-bold">@<%= user.username %></h4>
                            <h6 class="mt-0 mb-1 text-muted"><%= title %></h6>
                            
                        </div>
                        <div class="card-body">
                            <div class="profile-image">
                                <div style="text-align: center;">
                                    <picture>
                                        <img class="img-fluid img-thumbnail mx-auto d-block" style="height: 225px; width: 225px;" id="profilePhotoFile" src="<%= user.profilePhoto %>" alt="Profile Photo">
                                    </picture>
                                    <input type="button" value="Remove Photo"
                                    id="removeProfilePhoto" class="btn mx-auto btn-outline-danger my-2
                                    <%= user.profilePhoto.includes('default.png') ? 'd-none' : 'd-block' %>"
                                    style="width: 300px;">
                                </div>
                                <form id="profilePhotoFrom" action="/uploads/profilePhoto" class="my-2">
                                    <div class="input-group mb-3">
                                        <div class="mx-auto" style="max-width: 300px;">
                                            <div class="custom-file">
                                                <input type="file" name="profilePhoto" id="profilePhotoFileUpload" class="custom-file-input"  accept="image/*"/>
                                                <label class="custom-file-label" for="rofilePhotoFile">Choose Image</label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div>
                                <div class="col-md-10 offset-md-1">
                                    <form action="/dashboard/edit-profile" method="POST">
                                        <div class="form-group">
                                            <label for="email" class="text-muted mb-0">Email Address:</label>
                                            <input type="text" id="email" name="email"
                                            class="form-control" value="<%= user.email %>" disabled>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col">
                                                <label for="firstName" class="mb-0">First Name*:</label>
                                                <input type="text" value="<%= profile.firstName ? profile.firstName : "" %>" id="firstName" name="firstName" class="form-control <%- error.firstName ? "is-invalid" : "" %>" placeholder="First name">
                                                <div class="invalid-feedback">
                                                    <%= error.firstName %> 
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label for="lastName" class="mb-0">Last Name*:</label>
                                                <input type="text" value="<%= profile.lastName ? profile.lastName : "" %>" id="lastName" name="lastName" class="form-control <%- error.lastName ? "is-invalid" : "" %>" placeholder="Last name">
                                                <div class="invalid-feedback">
                                                    <%= error.lastName %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="title" class="mb-0">Title*:</label>
                                            <input type="text" value="<%= profile.title ? profile.title : "" %>" id="title" name="title"
                                            class="form-control <%- error.title ? "is-invalid" : "" %>" placeholder="A short title about your profile">
                                            <div class="invalid-feedback">
                                                <%= error.title %>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="bio"class="mb-0">Bio*:</label>
                                            <textarea name="bio" class="form-control <%- error.bio ? "is-invalid" : "" %>" id="bio" rows="3" placeholder="A short bio about yourself..."><%= profile.bio ? profile.bio : "" %></textarea>
                                            <div class="invalid-feedback">
                                                <%= error.bio %>
                                            </div>
                                        </div>
                                        <div>
                                            <h6>Social Links (optional):</h6>
                                            <div class="input-group my-1">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i style="width: 16px;" class="fab fa-internet-explorer"></i>
                                                    </span>
                                                </div>
                                                <input value="<%= profile.links.website ? profile.links.website : "" %>" type="text" id="websiteLink" name="website"
                                                class="form-control <%- error.website ? "is-invalid" : "" %>" placeholder="Website Link">
                                                <div class="invalid-feedback">
                                                    <%= error.website %>
                                                </div>
                                            </div>
                                            <div class="input-group my-1">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i style="width: 16px;" class="fab fa-linkedin-in"></i>
                                                    </span>
                                                </div>
                                                <input value="<%= profile.links.linkedin ? profile.links.linkedin : "" %>" type="text" id="linkedinLink" name="linkedin"
                                                class="form-control <%- error.linkedin ? "is-invalid" : "" %>" placeholder="Linkedin Profile">
                                                <div class="invalid-feedback">
                                                    <%= error.linkedin %>
                                                </div>
                                            </div>
                                            <div class="input-group my-1">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i style="width: 16px;" class="fab fa-twitter"></i>
                                                    </span>
                                                </div>
                                                <input value="<%= profile.links.twitter ? profile.links.twitter : "" %>" type="text" id="twitterLink" name="twitter"
                                                class="form-control <%- error.twitter ? "is-invalid" : "" %>" placeholder="Twitter Profile">
                                                <div class="invalid-feedback">
                                                    <%= error.twitter %>
                                                </div>
                                            </div>
                                            <div class="input-group my-1">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i style="width: 16px;" class="fab fa-facebook-f"></i>
                                                    </span>
                                                </div>
                                                <input value="<%= profile.links.facebook ? profile.links.facebook : "" %>" type="text" id="facebookLink" name="facebook"
                                                class="form-control <%- error.facebook ? "is-invalid" : "" %>" placeholder="Facebook Profile">
                                                <div class="invalid-feedback">
                                                    <%= error.facebook %>
                                                </div>
                                            </div>
                                            <div class="input-group my-1">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i style="width: 16px;" class="fab fa-github"></i>
                                                    </span>
                                                </div>
                                                <input value="<%= profile.links.github ? profile.links.github : "" %>" type="text" id="githubLink" name="github"
                                                class="form-control <%- error.github ? "is-invalid" : "" %>" placeholder="Github Profile">
                                                <div class="invalid-feedback">
                                                    <%= error.github %>
                                                </div>
                                            </div>
                                            <div style="text-align: center;">
                                                <input type="submit" style="width: 175px;" value="Update Profile" class="my-2 btn btn-dark">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="crop-modal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Resize Your Image (400 X 400)</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="cropped-image"></div>
            </div>
            <div class="modal-footer">
              <button type="button" id="upload-image" class="btn btn-dark">Upload</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
</div>
<%- include('../../partials/footer.ejs') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.js"></script>
<script src="/scripts/profilePhotoUpload.js"></script>
<script>
    $('#profilePhotoFileUpload').on('change', function(e) {
        let filename = e.target.files[0].name;
        $(this).next('.custom-file-label').html(filename);
    })
</script>
</body>
</html>
