<%- include('../../../partials/header.ejs') %> 
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <%- include('../../../partials/sidenavbar.ejs') %> 
        </div>
        <div class="col-md-10">
            <div class="col-md-8 offset-md-2">
                <div class="card mb-5 mt-2">
                    <% if (post.thumbnail) { %> 
                    <img class="card-img-top" style="object-fit: none; height: 400px;" src="<%= post.thumbnail %>" alt="Card image cap">
                    <% } %> 
                    <div class="card-body">
                        <form action="/posts/edit/<%= post._id %>" method="POST" enctype="multipart/form-data">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span id="custom-file-input-span" class="input-group-text">Thumbnail</span>
                                </div>
                                <div class="custom-file">
                                  <input name="thumbnail" type="file" class="custom-file-input <%- error.thumbnail ? "is-invalid" : "" %>" id="thumbnail">
                                  <label class="custom-file-label" id="input-group-file" for="thumbnail">Chose image file</label>
                                </div>
                                <div class="invalid-feedback">
                                    <%= error.thumbnail %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="title" class="mb-0">Post Title* (maximum 100 chars):</label>
                                <input name="title" value="<%- post.title ? post.title : ''%>" type="text" class="form-control <%- error.title ? "is-invalid" : "" %>" id="title"  placeholder="Title of your post">
                                <div class="invalid-feedback">
                                    <%= error.title %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tiny-mce-post-body">Post Body* (maximum 5000 chars):</label>
                                <textarea name="body" id="tiny-mce-post-body" class="form-control <%- error.body ? "is-invalid" : "" %>" placeholder="Whats on your mind..."><%- post.body ? post.body : ''%></textarea>
                                <div class="invalid-feedback">
                                    <%= error.body %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tags" class="mb-0">Tags* (max 10 tags & structure is important there):</label>
                                <input type="text" value="<%- post.tags.length > 0 ? post.tags.join(', ') : ''%>" class="form-control <%- error.tags ? "is-invalid" : "" %>" id="tags" name="tags" placeholder="Tag1, Tag2, Tag3">
                                <div class="invalid-feedback">
                                    <%= error.tags %>
                                </div>
                            </div>
                            <div style="text-align: center;">
                                <input type="submit" value="Update Post" class="my-2 btn btn-dark">
                                <a href="/posts/delete/<%= post._id %>" id="deletePost" class="btn btn-danger">Delete Post</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../../../partials/footer.ejs') %>
<script src="https://cdn.tiny.cloud/1/2y457w1ly24kixv5ri8slu3ili8j1tedg2y11c2k76kjx0zm/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="/scripts/tinyMce.js"></script>
<script>
    $('#thumbnail').on('change', function(e) {
        let filename = e.target.files[0].name;
        $(this).next('.custom-file-label').html(filename);
    })
</script>
</body>
</html>
